@import url(./normalize.css);
@import url(./reset.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}
/* 기본 스타일 */

body {
    /* background-color: rgb(88, 88, 88); */
    background: rgb(128, 128, 128);
    color: darkred;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 100;
}

.header, .visual, .main, .slogan, .footer-inner {
    width: 940px;
    margin: 0 auto;
    /* margin: 0 0 0 auto;  = float: right */
}
/* 레이아웃 */

/* 본문스타일 */
.header{
    background: rgb(255, 255, 255);
    height: 15vh;
    /* vh : 뷰포트 하이트(%) */
    padding: 0 30px;
}
/* 헤더 */
.visual{
    background: rgb(177, 177, 177);
    height: 10vh;
}
/* 비주얼 */
.main{
    background: rgb(133, 133, 133);
    /* height: 50vh; */
    border: 3px solid purple;
    display: flow-root;
}

/* .main::before{
    content: "first child";
    background: aliceblue;
    color: red;
    font-weight: bolder;
    text-transform: capitalize;
}
.main::after{
    content: "last child";
    background: aliceblue;
    color: red;
    font-weight: bolder;
    text-transform: capitalize;
} */
/* CSS 가상요소 예시 */

.group1{
    background-color: antiquewhite;
    width: 250px;
    float: left;
}
.group2{
    /* background-color: blanchedalmond; */
    background-color: tomato;
    color: blanchedalmond;
    width: 380px;
    float: left;
}
.group3{
    background-color: bisque;
    width: 190px;
    float: left;
}

/* 메인 */
.slogan{
    background: rgb(66, 66, 66);
    color: rgb(218, 0, 0);
    height: 10vh;
}
/* 슬로건 */
.footer{
    background: black;
    color: whitesmoke;
}
.footer-inner{
    height: 15vh;
    background: darkred;
}
/* 푸터 */