@import url(./normalize.css);
@import url(./reset.css);

*,
*::after,
*::before{
    box-sizing: border-box;
}

/* *{
    box-sizing: border-box;
} */
/* color : red -> 상속가능 */
/* box-sizing : border-box -> 상속불가능 */

/* 기본 스타일 */
a{
    color: inherit;
}

body {
    /* background-color: rgb(88, 88, 88); */
    background: rgb(128, 128, 128);
    color: darkred;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 100;
}

.header, .visual, .main, .slogan, .footer-inner {
    width: 940px;
    margin: 0 auto;
    /* margin: 0 0 0 auto;  = float: right */
}
/* 레이아웃 */

/* 본문스타일 */
.header{
    background: rgb(255, 255, 255);
    height: 15vh;
    /* vh : 뷰포트 하이트(%) */
    padding: 0 30px;
    border-radius:  0 0 15px 15px;
}

.member {
    color: aliceblue;
    background-color: darkred;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
/* :before / ::before -> first child */
/* :after / ::after -> last child */

/* 10점 + 1점 + 1점 */
/* .member li::before {
    content: ":";
} */

/* 우선 순위 규칙 */
/* li (type selectoe) = 1점 */
/* .first (class selectoe) = 10점 */
/* #item (id selectoe) = 100점 */

/* 1점+10점+1점 */
/* !important = 구체성, 명료성 무효화 */
/* li.first::before {
    content: "";
} */
/* .member li:first-child::before {
    content: "";
} */
/* nth-child() */
/* .member li:nth-child(2)::before{
    content: "";
} */

/* 10점 + 10점 + 1점 */
/* .member .first::before {
    content: "first child";
} */

.member li:nth-child(n + 2)::before {
    /* background-color: bisque; */
    content: ":";
}
.member li:nth-child(odd){
    background-color: bisque;
}
.member li:nth-child(n+2):nth-child(-n+4){
    background-color: blueviolet;
}

/* 헤더 */
.visual{
    background: rgb(177, 177, 177);
    height: 10vh;
}
/* 비주얼 */
.main{
    background: rgb(133, 133, 133);
    /* border: 3px solid rgb(174, 0, 0); */

    /* height: 50vh; */
    min-height: 450px;

    /* display: flow-root; */
    /* overflow: hidden; */
    /* zoom : 1; */
    /* BFC : block formating context */

    /* float: left; */

    display: flex;
    
    /* flex-direction: row;
    flex-wrap: nowrap; */
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.clearfix{
    clear: both;
    /* clear : float를 해제하는 역할 */
}

/* 
.main::after{
    content: "";
    font-weight: bold;
    text-transform: capitalize;
    clear: both;
    display: block;
}
*/

/* .main::before{
    content: "first child";
    background: aliceblue;
    color: red;
    font-weight: bolder;
    text-transform: capitalize;
}
.main::after{
    content: "last child";
    background: aliceblue;
    color: red;
    font-weight: bolder;
    text-transform: capitalize;
} */
/* CSS 가상요소 예시 */

/* .group{
    margin: 0 15px;

    float: left;
} */

.group1{
    background-color: antiquewhite;
    width: 250px;
    /* float: left; */
    /* margin-left: 30px; */
    /* margin-right: 30px; */
}
.group2{
    /* background-color: blanchedalmond; */
    background-color: rgb(121, 0, 0);
    color: blanchedalmond;
    width: 380px;
    /* float: left; */
    /* margin-left: 30px; */
}
.group3{
    background-color: bisque;
    width: 190px;
    /* flex-grow: 1; */
    /* float: left; */
    /* height: 100px; */
    /* margin-left: 30px; */
}

/* 메인 */
.slogan{
    background: rgb(66, 66, 66);
    color: rgb(218, 0, 0);
    height: 10vh;
    /* clear: both;
    margin-top: 50px; */
}
/* 슬로건 */
.footer{
    background: black;
    color: whitesmoke;
    width: 940px;
    margin: 0 auto;
}
.footer-inner{
    height: 15vh;
    background: darkred;
    position: relative;
    top: -10px;
    left: -10px;
}
/* 푸터 */